.navbar{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height:50px;
    background-color: rgb(72, 72, 219);
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color:white;
    
    margin: 0 10px;
    font-size: 16px;
}

a:hover{
    color:black;
}
.adjsmnt{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    

}
.radius{
    border-radius:50%;
    height: 300px;
    width: 300px;
}
.fonts{
    text-align: center;
    font-style: Oswald;
}
.fonty{
    font-style: Montserrat;
}
.abt{
    margin-left:100px;
    margin-right:100px;
}
.imgs:hover{
    opacity: 0.5;
}

